.main-container {
    text-align: center;
}

.icon-wrapper {
    text-align: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-left: 12px;
}

ul .nav .navbar-nav .navbar-right {
    margin-right: 0!important;
}
